#LUCK {
  background-color: #fff;
}

.directions {
  margin: 30px 0 30px 0;
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.directions::after {
  content: "";
  position: absolute;
  background-color: #cfcfcf;
  width: 380px;
  height: 1px;
  margin-top: 15px;
  left: calc(50% - 190px);
  max-width: 100%;
}

.directions p {
  font-size: 14px;
  color: #6d6d6d;
  margin: 0 20px;
}

.choosenum .num {
  max-width: 350px;
  height: 90px;
  margin: auto;
  flex-wrap: wrap;
}

.choosenum {
  margin: 20px 20px 50px 20px;
  text-align: center;
}

.choosenum p {
  font-size: 14px;
  color: #6d6d6d;
  text-align: left;
  font-weight: bold;
  max-width: 100%;
}

/* .choosenum .num::after {
  content: "";
  position: absolute;
  background-color: #cfcfcf;
  height: 1px;
  margin-top: 50px;
  left: calc(50% - 190px);
}
  max-width: 350px;
  margin: 90px auto 0 auto;
} */

.textfield,
.textfield form,
.textfield > * > div {
  margin: 24px auto 0 auto;
  width: 380px;
  max-width: 100%;
}

.agree,
.disagree {
  text-align: left;
  max-width: 100%;
}

.agreeItem,
.disagreeItem {
  margin: 15px auto;
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}

.agreeItem p {
  font-size: 14px;
  color: #6d6d6d;
}

.agreeItem a,
.disagreeItem a {
  font-size: 14px;
  color: #1976d2;
}

.disagreeItem p {
  font-size: 14px;
  color: #b00020;
}

.btn {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 56px;
  max-width: 100%;
}

.sendBtn {
  width: 380px;
  max-width: 100%;
  margin: auto;
}

.sendBtn button {
  width: 380px;
  max-width: 100%;
}

.sendBtn p {
  font-size: 14px;
}

.toggleBtn {
  overflow: auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 100%;
}

.toggleBtn .Btn {
  margin: 0 auto;
  width: 350px;
  padding: 8px;
  max-width: 100%;
}

.Table img {
  position: absolute;
  left: 16px;
}

.drawer {
  margin: 50px 0 8px 16px;
}

.drawer-title {
  font-size: 20px;
  font-weight: bold;
}

.drawer-content {
  font-size: 14px;
}

.chip .num {
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.num {
  font-weight: bold;
}

.line {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
}
.content {
  margin: 0 10px;
}

.dialog {
  text-align: center;
  width: 100%;
}
